/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-font-regular);
  background-image: var(--bg-gradient);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  inline-size: clamp(375px, 260.5634px + 30.5164vw, 700px);
  max-block-size: 368px;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--border-color);
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: clamp(14px, -108.3077px + 32.6154vw, 120px);
  padding-right: clamp(14px, -108.3077px + 32.6154vw, 120px);
  padding-top: clamp(120px, 56.1951px + 19.5122vw, 128px);
  padding-bottom: clamp(120px, 56.1951px + 19.5122vw, 128px);
}

.header__title {
  font-family: var(--accent-font), sans-serif;
  font-size: clamp(49px, 43.3662px + 1.5023vw, 65px);
  font-weight: 400;
  text-transform: uppercase;
  line-height: clamp(49px, 43.3662px + 1.5023vw, 65px);
}

.header__subtitle {
  text-wrap: nowrap;
  font-family: var(--accent-font), sans-serif;
  font-size: clamp(14px, 10.831px + 0.8451vw, 23px);
  font-weight: 400;
  text-transform: uppercase;
  line-height: clamp(49px, 43.3662px + 1.5023vw, 65px);
}

.card {
  margin-bottom: 50px;
  inline-size: clamp(375px, 260.5634px + 30.5164vw, 700px);
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  border: 2px solid var(--border-color);
}

.card__title {
  font-variation-settings: "wght" var(--main-font-bold);
  padding: 5px 24px 5px 10px;
  font-size: 18px;
  line-height: 21.78px;
  border-bottom: 2px solid var(--border-color);
}
.card__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  border-bottom: 2px solid var(--border-color);
  object-fit: cover;
  object-position: center;
}

.one {
  filter: blur(1em);
}

.two {
  filter: brightness(50%);
}

.three {
  filter: contrast(10%);
}

.four {
  filter: invert();
}

.five {
  filter: saturate(10%);
}

.six {
  filter: opacity(50%);
}

.seven {
  filter: hue-rotate(50deg);
}

.eight {
  filter: hue-rotate(50deg) invert(1) blur(0.1em);
}

.card__text {
  padding: 0 27px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 27px;
}

.card__text-block {
  font-size: 18px;
  line-height: 21px;
}

.card__buttons {
  margin-right: 25px;
  margin-bottom: 20px;
  display: flex;
  gap: 2px;
  justify-content: flex-end;
  align-items: center;
}

.button {
  cursor: pointer;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  transition: box-shadow 1s;
  position: relative;
}

.card__like-button {
  padding: 8px 35px;
}

.button::before {
  content: "";
  transition: 0.5s ease-in-out;
  background-color: var(--hover-color);
  transform-origin: left;
  position: absolute;
  inset: 0;
  transform: scaleX(0);
}

.button:hover::before {
  content: "";
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button__text {
  position: relative;
  z-index: 10;
  text-align: center;
  mix-blend-mode: difference;
  color: #fff;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 currentColor;
}

.card__icon-button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  transition: border-color 0.3s ease;
  border: 2px solid transparent;
}

.card__icon-button:focus {
  outline: none;
  border: none;
}

.card__icon-button:focus-visible {
  border: 2px solid;
  border-color: currentColor;
}

.block__save-button {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.save-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 18.5px 21px;
}

.floppy {
  width: 21px;
}

.image-block {
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
}

.card__image-text {
  position: absolute;
  mix-blend-mode: hard-light;
  opacity: 50%;
  z-index: 1;
  right: 25px;
  top: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow: 1px 0 #fff, 0 1px #fff, -1px 0 #fff, 0 -1px #fff;
}

@supports (text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff) {
  .card__image-text {
    text-stroke: 1px #fff;
    -webkit-text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.save-dialog {
  max-inline-size: 353px;
  position: fixed;
  inset: 0;
}

.save-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.save-dialog[open] {
  display: flex;
  flex-direction: column;
  padding: 30px;
  row-gap: 30px;
}

.popup-floppy {
  column-gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.big-floppy {
  width: 39px;
}

.dialog__text {
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  max-inline-size: 234px;
}

.ok-button {
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}

.button .floppy {
  mix-blend-mode: difference;
  color: #fff;
}

@media (width <= 375px) {
  .page {
    width: 100%;
  }

  .save-button {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .floppy {
    width: 21px;
  }
}
